# specify the version of docker-compose
version: "3.8"

# define the services/containers to be run
services:
  web:
    depends_on: 
      - api
    build: ./frontend
    image: arar404/mern-frontend
    ports:
      - 5173:5173
    environment:
      VITE_API_URL: http://localhost:8000
    develop:
      watch:
        - path: ./frontend/package.json
          action: rebuild
        - path: ./frontend/package-lock.json
          action: rebuild

        - path: ./frontend
          target: /app
          action: sync


  api: 
    depends_on: 
      - db
    build: ./backend
    image: arar404/mern-backend
    ports: 
      - 8000:8000
    environment: 
      DB_URL: mongodb://db/anime
    develop:
      watch:
        - path: ./backend/package.json
          action: rebuild
        - path: ./backend/package-lock.json
          action: rebuild
        - path: ./backend
          target: /app
          action: sync

  db:
    image: mongo:latest 
    ports:
      - 27017:27017
    volumes:
      - anime:/data/db
volumes:
  anime: